In [1]:
import bs4
from bs4 import BeautifulSoup
import requests as rq
import re
import pandas as pd
import numpy as np
import datetime 
import os
import math
import pymongo

In [2]:
def convdollar(x):
    """
    Just a parsing function converting 2.5k to 2500, 1mil to 1000000
    """
    if 'k' in x:
        return float(x.replace('k',''))*1000
    else:
        return float(x)*1000000

In [3]:
millnames = ['',' Thousand',' Million',' Billion',' Trillion']

def millify(n):
    n = float(n)
    millidx = max(0,min(len(millnames)-1,
                        int(math.floor(0 if n == 0 else math.log10(abs(n))/3))))

    return '{:.0f}{}'.format(n / 10**(3 * millidx), millnames[millidx])

In [4]:
def scrape():
    """
    Gets all box office data from 2018 to present from boxofficemojo.com
    """
    years=[str(a) for a in range(2018,2019)]
    df_list=[]
    for year in years:
        r=rq.get('https://www.boxofficemojo.com/yearly/chart/?view2=worldwide&yr=%s&p=.htm' % year)
        print('Box Office data for %s scraped' % year)
        p=BeautifulSoup(r.text,'html.parser')
            ### Look for the table ### 
        b=p.find_all('table')
        
        ### Usually the fourth table object on page ### 
        tb=b[3].find_all('td')
         ## Each data field is found in a <td> element in the fourth table. Store all data in a list ## 
        data=[]
        for i in tb:
            if i.find('a')!=None:
                data.append(i.find('a').contents[0])
            elif i.find('font')!=None:
                 data.append(i.find('font').contents[0])
            elif i.find('b')!=None:
                data.append(i.find('b').contents[0])
                ### Still a <b> tag left for <font> tags ## 
        data=[a.contents[0] if type(a)!=bs4.element.NavigableString else a for a in data]
        
        ### Strip special characters ### 
        data=[re.sub('[^A-Za-z0-9-. ]+', '', a) for a in data]
        
        ### Fill NaNs ### 
        data=[np.nan if a =='na' else a for a in data]
        
        ### Define the feature names ###
        columns=['bo_year_rank','title','studio','worldwide-gross','domestic-gross','domestic-pct','overseas-gross','overseas-pct']
        
        ### First 6 elements are column headers # 
        to_df=data[6:]
        
        ### Escape clause in case the layout changes from year to year ### 
        if len(to_df)%len(columns) != 0:
            print('Possible table misalignment in table for year %s' % year)
            break
            
            ### Convert to pandas dataframe ### 
        
        nrow=int(len(to_df)/len(columns))
        df=pd.DataFrame(np.array(to_df).reshape(nrow,8),columns=columns)
        df[['worldwide-gross','domestic-gross','overseas-gross']]=df[['worldwide-gross','domestic-gross','overseas-gross']].applymap(lambda x:convdollar(x))
        df['bo_year']=int(year)
        df_list.append(df)

        main=pd.concat(df_list)
    
        # Store data into csv # 
        #main.to_csv(os.path.join("output","current_boxoffice_mojo.csv"))
        return (main)
        print (main)

In [5]:
if __name__ == "__main__": 

    dirtymovies_df=scrape()

Box Office data for 2018 scraped

In [6]:
 dirtymovies_df

,bo_year_rank,title,studio,worldwide-gross,domestic-gross,domestic-pct,overseas-gross,overseas-pct,bo_year
0,1,Avengers Infinity War,BV,2.048400e+09,678800000.0,33.1,1.369500e+09,66.9,2018
1,2,Black Panther,BV,1.346900e+09,700100000.0,52.0,6.469000e+08,48.0,2018
2,3,Jurassic World Fallen Kingdom,Uni.,1.309500e+09,417700000.0,31.9,8.918000e+08,68.1,2018
3,4,Incredibles 2,BV,1.242800e+09,608600000.0,49.0,6.342000e+08,51.0,2018
4,5,Aquaman,WB,1.147700e+09,335100000.0,29.2,8.126000e+08,70.8,2018
5,6,Bohemian Rhapsody,Fox,9.026000e+08,216400000.0,24.0,6.862000e+08,76.0,2018
6,7,Venom 2018,Sony,8.550000e+08,213500000.0,25.0,6.415000e+08,75.0,2018
7,8,Mission Impossible - Fallout,Par.,7.911000e+08,220200000.0,27.8,5.710000e+08,72.2,2018
8,9,Deadpool 2,Fox,7.789000e+08,318500000.0,40.9,4.605000e+08,59.1,2018
9,10,Fantastic Beasts The Crimes of Grindelwald,WB,6.537000e+08,159600000.0,24.4,4.941000e+08,75.6,2018
10,11,Ant-Man and the Wasp,BV,6.227000e+08,216600000.0,34.8,4.060000e+08,65.2,2018
11,12,Ready Player One,WB,5.829000e+08,137700000.0,23.6,4.452000e+08,76.4,2018
12,13,Operation Red Sea,WGUSA,5.792000e+08,1500000.0,0.3,5.777000e+08,99.7,2018
13,14,Detective Chinatown 2,WB,5.441000e+08,2000000.0,0.4,5.421000e+08,99.6,2018
14,15,The Meg,WB,5.302000e+08,145400000.0,27.4,3.848000e+08,72.6,2018
15,16,Ralph Breaks the Internet,BV,5.289000e+08,201100000.0,38.0,3.278000e+08,62.0,2018
16,17,Hotel Transylvania 3 Summer Vacation,Sony,5.286000e+08,167500000.0,31.7,3.611000e+08,68.3,2018
17,18,Dr. Seuss The Grinch 2018,Uni.,5.116000e+08,270600000.0,52.9,2.409000e+08,47.1,2018
18,19,Bumblebee,Par.,4.680000e+08,127200000.0,27.2,3.408000e+08,72.8,2018
19,20,A Star is Born 2018,WB,4.342000e+08,215300000.0,49.6,2.189000e+08,50.4,2018
20,21,Rampage 2018,WB NL,4.280000e+08,101000000.0,23.6,3.270000e+08,76.4,2018
21,22,Mamma Mia Here We Go Again,Uni.,3.947000e+08,120600000.0,30.6,2.741000e+08,69.4,2018
22,23,Solo A Star Wars Story,BV,3.929000e+08,213800000.0,54.4,1.792000e+08,45.6,2018
23,24,Spider-Man Into The Spider-Verse,Sony,3.753000e+08,190200000.0,50.7,1.851000e+08,49.3,2018
24,25,Fifty Shades Freed,Uni.,3.719000e+08,100400000.0,27.0,2.715000e+08,73.0,2018
25,26,The Nun,WB NL,3.656000e+08,117500000.0,32.1,2.481000e+08,67.9,2018
26,27,Monster Hunt 2,LGF,3.617000e+08,706000.0,0.2,3.610000e+08,99.8,2018
27,28,Peter Rabbit,Sony,3.513000e+08,115300000.0,32.8,2.360000e+08,67.2,2018
28,29,Mary Poppins Returns,BV,3.495000e+08,172000000.0,49.2,1.775000e+08,50.8,2018
29,30,A Quiet Place,Par.,3.409000e+08,188000000.0,55.1,1.529000e+08,44.9,2018
...,...,...,...,...,...,...,...,...,...
275,276,I Am Not a Witch,FM,5.090000e+04,50900.0,100.0,NaN,0.0,2018
276,277,Racer the Jailbird,Super,4.630000e+04,46300.0,100.0,NaN,0.0,2018
277,278,Rodin,Cohen,4.430000e+04,44300.0,100.0,NaN,0.0,2018
278,279,What Will People Say,KL,4.420000e+04,44200.0,100.0,NaN,0.0,2018
279,280,A Ciambra,IFC,4.190000e+04,41900.0,100.0,NaN,0.0,2018
280,281,Oolong Courtyard,CL,3.770000e+04,37700.0,100.0,NaN,0.0,2018
281,282,Girls vs Gangsters,WGUSA,3.710000e+04,37100.0,100.0,NaN,0.0,2018
282,283,No Date No Signature,Distrib.,3.640000e+04,36400.0,100.0,NaN,0.0,2018
283,284,The Apparition 2018,MBox,2.830000e+04,28300.0,100.0,NaN,0.0,2018
284,285,The Charmer,FM,2.620000e+04,26200.0,100.0,NaN,0.0,2018
285,286,Elliot The Littlest Reindeer,Scre.,2.430000e+04,24300.0,100.0,NaN,0.0,2018
286,287,The Workshop,Strand,2.210000e+04,22100.0,100.0,NaN,0.0,2018
287,288,Loving Pablo,Uni.,2.200000e+04,22000.0,100.0,NaN,0.0,2018
288,289,A Paris Education,KL,2.160000e+04,21600.0,100.0,NaN,0.0,2018
289,290,Tag Along The Devil Fish,CL,2.070000e+04,20700.0,100.0,NaN,0.0,2018
290,291,Gabriel and the Mountain,Strand,1.840000e+04,18400.0,100.0,NaN,0.0,2018
291,292,Marlina the Murderer in Four Acts,Icar.,1.780000e+04,17800.0,100.0,NaN,0.0,2018
292,293,The Escape,IFC,1.400000e+04,14000.0,100.0,NaN,0.0,2018
293,294,How Victor The Garlic Took Alexey The Stud to ...,CARUSEL,1.300000e+04,13000.0,100.0,NaN,0.0,2018
294,295,Lou Andreas-Salom the Audacity to be Free,CLS,1.290000e+04,12900.0,100.0,NaN,0.0,2018
295,296,Let Yourself Go,Men.,1.220000e+04,12200.0,100.0,NaN,0.0,2018
296,297,Hannah 2018,PDF,1.170000e+04,11700.0,100.0,NaN,0.0,2018
297,298,Souvenir,Strand,1.140000e+04,11400.0,100.0,NaN,0.0,2018
298,299,Furious Legend of Kolovrat,CARUSEL,1.000000e+04,10000.0,100.0,NaN,0.0,2018
299,300,Beauty and the Dogs,Osci.,8.900000e+03,8900.0,100.0,NaN,0.0,2018
300,301,The Quake,Magn.,6.200000e+03,6200.0,100.0,NaN,0.0,2018
301,302,Edward II 2018 re-release,FM,4.800000e+03,4800.0,100.0,NaN,0.0,2018
302,303,El Pacto,Sony,2.500000e+03,2500.0,100.0,NaN,0.0,2018
303,304,The Swan,Synergetic,2.400000e+03,2400.0,100.0,NaN,0.0,2018
304,305,An Actor Prepares,Grav.,1.700000e+03,1700.0,100.0,NaN,0.0,2018

In [7]:
## Cleaning data by dropping the unessery rows (10-87) drops the bottom 78 trows
dirtymovies_df[:-295]

,bo_year_rank,title,studio,worldwide-gross,domestic-gross,domestic-pct,overseas-gross,overseas-pct,bo_year
0,1,Avengers Infinity War,BV,2.048400e+09,678800000.0,33.1,1.369500e+09,66.9,2018
1,2,Black Panther,BV,1.346900e+09,700100000.0,52.0,6.469000e+08,48.0,2018
2,3,Jurassic World Fallen Kingdom,Uni.,1.309500e+09,417700000.0,31.9,8.918000e+08,68.1,2018
3,4,Incredibles 2,BV,1.242800e+09,608600000.0,49.0,6.342000e+08,51.0,2018
4,5,Aquaman,WB,1.147700e+09,335100000.0,29.2,8.126000e+08,70.8,2018
5,6,Bohemian Rhapsody,Fox,9.026000e+08,216400000.0,24.0,6.862000e+08,76.0,2018
6,7,Venom 2018,Sony,8.550000e+08,213500000.0,25.0,6.415000e+08,75.0,2018
7,8,Mission Impossible - Fallout,Par.,7.911000e+08,220200000.0,27.8,5.710000e+08,72.2,2018
8,9,Deadpool 2,Fox,7.789000e+08,318500000.0,40.9,4.605000e+08,59.1,2018
9,10,Fantastic Beasts The Crimes of Grindelwald,WB,6.537000e+08,159600000.0,24.4,4.941000e+08,75.6,2018

In [8]:
#create new dataframe for top 10 
toptenmovies_df = dirtymovies_df[:-295]

In [9]:
toptenmovies_df

,bo_year_rank,title,studio,worldwide-gross,domestic-gross,domestic-pct,overseas-gross,overseas-pct,bo_year
0,1,Avengers Infinity War,BV,2.048400e+09,678800000.0,33.1,1.369500e+09,66.9,2018
1,2,Black Panther,BV,1.346900e+09,700100000.0,52.0,6.469000e+08,48.0,2018
2,3,Jurassic World Fallen Kingdom,Uni.,1.309500e+09,417700000.0,31.9,8.918000e+08,68.1,2018
3,4,Incredibles 2,BV,1.242800e+09,608600000.0,49.0,6.342000e+08,51.0,2018
4,5,Aquaman,WB,1.147700e+09,335100000.0,29.2,8.126000e+08,70.8,2018
5,6,Bohemian Rhapsody,Fox,9.026000e+08,216400000.0,24.0,6.862000e+08,76.0,2018
6,7,Venom 2018,Sony,8.550000e+08,213500000.0,25.0,6.415000e+08,75.0,2018
7,8,Mission Impossible - Fallout,Par.,7.911000e+08,220200000.0,27.8,5.710000e+08,72.2,2018
8,9,Deadpool 2,Fox,7.789000e+08,318500000.0,40.9,4.605000e+08,59.1,2018
9,10,Fantastic Beasts The Crimes of Grindelwald,WB,6.537000e+08,159600000.0,24.4,4.941000e+08,75.6,2018

In [10]:
##clean new dataframe for top 10 by removing rows domestic-pct, overseas-pct
toptenmovies_df.drop("domestic-pct", axis=1).drop("overseas-pct", axis=1)

,bo_year_rank,title,studio,worldwide-gross,domestic-gross,overseas-gross,bo_year
0,1,Avengers Infinity War,BV,2.048400e+09,678800000.0,1.369500e+09,2018
1,2,Black Panther,BV,1.346900e+09,700100000.0,6.469000e+08,2018
2,3,Jurassic World Fallen Kingdom,Uni.,1.309500e+09,417700000.0,8.918000e+08,2018
3,4,Incredibles 2,BV,1.242800e+09,608600000.0,6.342000e+08,2018
4,5,Aquaman,WB,1.147700e+09,335100000.0,8.126000e+08,2018
5,6,Bohemian Rhapsody,Fox,9.026000e+08,216400000.0,6.862000e+08,2018
6,7,Venom 2018,Sony,8.550000e+08,213500000.0,6.415000e+08,2018
7,8,Mission Impossible - Fallout,Par.,7.911000e+08,220200000.0,5.710000e+08,2018
8,9,Deadpool 2,Fox,7.789000e+08,318500000.0,4.605000e+08,2018
9,10,Fantastic Beasts The Crimes of Grindelwald,WB,6.537000e+08,159600000.0,4.941000e+08,2018

In [11]:
Cleanedtoptenmovies_df= toptenmovies_df.drop("domestic-pct", axis=1).drop("overseas-pct", axis=1)

In [12]:
Cleanedtoptenmovies_df

,bo_year_rank,title,studio,worldwide-gross,domestic-gross,overseas-gross,bo_year
0,1,Avengers Infinity War,BV,2.048400e+09,678800000.0,1.369500e+09,2018
1,2,Black Panther,BV,1.346900e+09,700100000.0,6.469000e+08,2018
2,3,Jurassic World Fallen Kingdom,Uni.,1.309500e+09,417700000.0,8.918000e+08,2018
3,4,Incredibles 2,BV,1.242800e+09,608600000.0,6.342000e+08,2018
4,5,Aquaman,WB,1.147700e+09,335100000.0,8.126000e+08,2018
5,6,Bohemian Rhapsody,Fox,9.026000e+08,216400000.0,6.862000e+08,2018
6,7,Venom 2018,Sony,8.550000e+08,213500000.0,6.415000e+08,2018
7,8,Mission Impossible - Fallout,Par.,7.911000e+08,220200000.0,5.710000e+08,2018
8,9,Deadpool 2,Fox,7.789000e+08,318500000.0,4.605000e+08,2018
9,10,Fantastic Beasts The Crimes of Grindelwald,WB,6.537000e+08,159600000.0,4.941000e+08,2018

  if x is >= 1000000000 then convert to "1.xx billion"  to make more readable we are going from float to string 
  else convert to xxxmillion 
  
  Next steps for arjun figure out function above then put finished dataframe into mongodbcollection

In [13]:
# Connect to mongo
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Connect to Top 10 database
db = client.top_10_db

# If collection books exists, drop it so the new top 10 information will replace it
db.movies.drop()

#Create new empty books collection
movies = db.movies

# Insert top 10 books/movies/music into database
data = Cleanedtoptenmovies_df.to_dict(orient='records')
db.movies.insert_many(data)