In [29]:
import bs4 as bs
from bs4 import BeautifulSoup 
import requests 
import pandas as pd
import numpy as np
import datetime 
import os
import math
import pymongo
import urllib.request
from urllib.request import urlopen

In [32]:
#send request

d = pd.read_html("https://www.boxofficemojo.com/yearly/chart/?yr=2018&view=releasedate&view2=domestic&sort=gross&order=DESC&&p=.htm")

In [33]:
type(d)

list

In [34]:
len(d)

7

In [37]:
d[5]

,0,1,2,3,4,5,6,7,8
0,Rank,Movie Title (click to view),Studio function MojoDrop1() { var number = doc...,Filter4th Row A24 AAE Abr. ADC Affirm Amazon A...,Total Gross / Theaters,Opening / Theaters,Open,Close,NaN
1,Filter4th Row A24 AAE Abr. ADC Affirm Amazon A...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Black Panther,BV,"$700,059,566",4084,"$202,003,951",4020,2/16,8/9
3,2,Avengers: Infinity War,BV,"$678,815,482",4474,"$257,698,183",4474,4/27,9/13
4,3,Incredibles 2,BV,"$608,581,744",4410,"$182,687,905",4410,6/15,12/13
5,4,Jurassic World: Fallen Kingdom,Uni.,"$417,719,760",4485,"$148,024,610",4475,6/22,10/4
6,5,Aquaman,WB,"$335,061,807",4184,"$67,873,522",4125,12/21,4/4
7,6,Deadpool 2,Fox,"$318,491,426",4349,"$125,507,153",4349,5/18,10/18
8,7,Dr. Seuss' The Grinch (2018),Uni.,"$270,620,950",4141,"$67,572,855",4141,11/9,2/14
9,8,Mission: Impossible - Fallout,Par.,"$220,159,104",4395,"$61,236,534",4386,7/27,10/18
10,9,Ant-Man and the Wasp,BV,"$216,648,740",4206,"$75,812,205",4206,7/6,11/1
11,10,Bohemian Rhapsody,Fox,"$216,428,042",4000,"$51,061,119",4000,11/2,4/25
12,11,A Star is Born (2018),WB,"$215,288,866",3904,"$42,908,051",3686,10/5,4/4
13,12,Solo: A Star Wars Story,BV,"$213,767,512",4381,"$84,420,489",4381,5/25,9/20
14,13,Venom (2018),Sony,"$213,515,506",4250,"$80,255,756",4250,10/5,1/24
15,14,Ralph Breaks the Internet,BV,"$201,091,711",4017,"$56,237,634",4017,11/21,4/11
16,15,Spider-Man: Into The Spider-Verse,Sony,"$190,241,310",3813,"$35,363,376",3813,12/14,-
17,16,A Quiet Place,Par.,"$188,024,361",3808,"$50,203,562",3508,4/6,8/2
18,17,Crazy Rich Asians,WB,"$174,532,921",3865,"$26,510,140",3384,8/15,1/10
19,18,Mary Poppins Returns,BV,"$171,958,438",4090,"$23,523,121",4090,12/19,4/11
20,19,Hotel Transylvania 3: Summer Vacation,Sony,"$167,510,016",4267,"$44,076,225",4267,7/13,11/29
21,20,Fantastic Beasts: The Crimes of Grindelwald,WB,"$159,555,901",4163,"$62,163,104",4163,11/16,2/21
22,21,Halloween (2018),Uni.,"$159,342,015",3990,"$76,221,545",3928,10/19,1/3
23,22,The Meg,WB,"$145,443,742",4118,"$45,402,195",4118,8/10,11/1
24,23,Ocean's 8,WB,"$140,218,711",4145,"$41,607,378",4145,6/8,9/20
25,24,Ready Player One,WB,"$137,690,172",4234,"$41,764,050",4234,3/29,7/5
26,25,Bumblebee,Par.,"$127,195,589",3597,"$21,654,047",3550,12/21,3/7
27,26,Mamma Mia! Here We Go Again,Uni.,"$120,634,935",3514,"$34,952,180",3317,7/20,10/11
28,27,The Nun,WB (NL),"$117,450,119",3876,"$53,807,379",3876,9/7,11/22
29,28,Creed II,MGM,"$115,715,889",3752,"$35,574,710",3441,11/21,3/21
...,...,...,...,...,...,...,...,...,...
77,76,The Commuter,LGF,"$36,343,858",2892,"$13,701,452",2892,1/12,3/15
78,77,The 15:17 to Paris,WB,"$36,276,286",3042,"$12,554,286",3042,2/9,4/12
79,78,Mile 22,STX,"$36,108,758",3520,"$13,710,825",3520,8/17,10/4
80,79,Alpha,Studio 8,"$35,857,181",2881,"$10,352,512",2719,8/17,11/22
81,80,Peppermint,STX,"$35,418,723",2980,"$13,423,255",2980,9/7,11/1
82,81,The Favourite,FoxS,"$34,366,783",1554,"$422,410",4,11/23,4/11
83,82,Death Wish (2018),MGM,"$34,017,028",2882,"$13,010,267",2847,3/2,5/31
84,83,The Spy Who Dumped Me,LGF,"$33,562,069",3111,"$12,103,043",3111,8/3,9/27
85,84,Annihilation,Par.,"$32,732,301",2112,"$11,071,584",2012,2/23,4/19
86,85,Isle Of Dogs,FoxS,"$32,015,231",1947,"$1,620,294",27,3/23,8/30
87,86,Nobody's Fool,Par.,"$31,713,110",2468,"$13,743,111",2468,11/2,12/20
88,87,Adrift,STX,"$31,445,012",3015,"$11,603,039",3015,6/1,8/2
89,88,Robin Hood (2018),LG/S,"$30,824,628",2827,"$9,195,670",2827,11/21,1/10
90,89,Super Troopers 2,Fox,"$30,617,396",2125,"$15,181,624",2038,4/20,7/12
91,90,Holmes and Watson,Sony,"$30,573,626",2780,"$7,411,522",2776,12/25,2/21
92,91,Slender Man,SGem,"$30,569,484",2358,"$11,371,866",2358,8/10,11/1
93,92,Teen Titans Go! To The Movies,WB,"$29,790,236",3188,"$10,411,189",3188,7/27,10/11
94,93,The Hate U Give,Fox,"$29,719,483",2375,"$512,035",36,10/5,1/17
95,94,Searching,SGem,"$26,020,957",2009,"$388,769",9,8/24,11/15
96,95,Winchester,LGF,"$25,091,816",2480,"$9,307,626",2480,2/2,3/29
97,96,On the Basis of Sex,Focus,"$24,622,687",1957,"$686,355",33,12/25,3/7
98,97,Strangers: Prey at Night,Aviron,"$24,586,708",2464,"$10,402,271",2464,3/9,5/31
99,98,White Boy Rick,Studio 8,"$24,011,188",2504,"$8,860,431",2504,9/14,11/8
100,99,Won't You Be My Neighbor?,Focus,"$22,835,787",893,"$475,419",29,6/8,9/13
101,100,Overlord,Par.,"$21,704,844",2859,"$10,202,108",2859,11/9,12/20
102,Summary of 876 Movies on Chart:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,Totals:,"$11,607,307,111",-,-,-,-,-,NaN,NaN
104,Averages:,"$13,250,351",-,-,-,-,-,NaN,NaN
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,Filter4th Row A24 AAE Abr. ADC Affirm Amazon A...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
dirty_df = d[5]

In [41]:
dirty_df.drop(dirty_df.index[[[3,4,5,6,7,8]]])

/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/core/indexes/base.py:2095: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

,0,1,2,3,4,5,6,7,8
0,Rank,Movie Title (click to view),Studio function MojoDrop1() { var number = doc...,Filter4th Row A24 AAE Abr. ADC Affirm Amazon A...,Total Gross / Theaters,Opening / Theaters,Open,Close,NaN
1,Filter4th Row A24 AAE Abr. ADC Affirm Amazon A...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Black Panther,BV,"$700,059,566",4084,"$202,003,951",4020,2/16,8/9
9,8,Mission: Impossible - Fallout,Par.,"$220,159,104",4395,"$61,236,534",4386,7/27,10/18
10,9,Ant-Man and the Wasp,BV,"$216,648,740",4206,"$75,812,205",4206,7/6,11/1
11,10,Bohemian Rhapsody,Fox,"$216,428,042",4000,"$51,061,119",4000,11/2,4/25
12,11,A Star is Born (2018),WB,"$215,288,866",3904,"$42,908,051",3686,10/5,4/4
13,12,Solo: A Star Wars Story,BV,"$213,767,512",4381,"$84,420,489",4381,5/25,9/20
14,13,Venom (2018),Sony,"$213,515,506",4250,"$80,255,756",4250,10/5,1/24
15,14,Ralph Breaks the Internet,BV,"$201,091,711",4017,"$56,237,634",4017,11/21,4/11
16,15,Spider-Man: Into The Spider-Verse,Sony,"$190,241,310",3813,"$35,363,376",3813,12/14,-
17,16,A Quiet Place,Par.,"$188,024,361",3808,"$50,203,562",3508,4/6,8/2
18,17,Crazy Rich Asians,WB,"$174,532,921",3865,"$26,510,140",3384,8/15,1/10
19,18,Mary Poppins Returns,BV,"$171,958,438",4090,"$23,523,121",4090,12/19,4/11
20,19,Hotel Transylvania 3: Summer Vacation,Sony,"$167,510,016",4267,"$44,076,225",4267,7/13,11/29
21,20,Fantastic Beasts: The Crimes of Grindelwald,WB,"$159,555,901",4163,"$62,163,104",4163,11/16,2/21
22,21,Halloween (2018),Uni.,"$159,342,015",3990,"$76,221,545",3928,10/19,1/3
23,22,The Meg,WB,"$145,443,742",4118,"$45,402,195",4118,8/10,11/1
24,23,Ocean's 8,WB,"$140,218,711",4145,"$41,607,378",4145,6/8,9/20
25,24,Ready Player One,WB,"$137,690,172",4234,"$41,764,050",4234,3/29,7/5
26,25,Bumblebee,Par.,"$127,195,589",3597,"$21,654,047",3550,12/21,3/7
27,26,Mamma Mia! Here We Go Again,Uni.,"$120,634,935",3514,"$34,952,180",3317,7/20,10/11
28,27,The Nun,WB (NL),"$117,450,119",3876,"$53,807,379",3876,9/7,11/22
29,28,Creed II,MGM,"$115,715,889",3752,"$35,574,710",3441,11/21,3/21
30,29,Peter Rabbit,Sony,"$115,253,424",3725,"$25,010,928",3725,2/9,6/14
31,30,The Mule,WB,"$103,804,407",3329,"$17,509,431",2588,12/14,3/14
32,31,The Equalizer 2,Sony,"$102,084,362",3388,"$36,011,640",3388,7/20,9/20
33,32,Rampage (2018),WB (NL),"$101,028,233",4115,"$35,753,093",4101,4/13,7/26
34,33,A Wrinkle in Time,BV,"$100,478,608",3980,"$33,123,609",3980,3/9,7/5
35,34,Fifty Shades Freed,Uni.,"$100,407,760",3768,"$38,560,195",3768,2/9,4/5
...,...,...,...,...,...,...,...,...,...
77,76,The Commuter,LGF,"$36,343,858",2892,"$13,701,452",2892,1/12,3/15
78,77,The 15:17 to Paris,WB,"$36,276,286",3042,"$12,554,286",3042,2/9,4/12
79,78,Mile 22,STX,"$36,108,758",3520,"$13,710,825",3520,8/17,10/4
80,79,Alpha,Studio 8,"$35,857,181",2881,"$10,352,512",2719,8/17,11/22
81,80,Peppermint,STX,"$35,418,723",2980,"$13,423,255",2980,9/7,11/1
82,81,The Favourite,FoxS,"$34,366,783",1554,"$422,410",4,11/23,4/11
83,82,Death Wish (2018),MGM,"$34,017,028",2882,"$13,010,267",2847,3/2,5/31
84,83,The Spy Who Dumped Me,LGF,"$33,562,069",3111,"$12,103,043",3111,8/3,9/27
85,84,Annihilation,Par.,"$32,732,301",2112,"$11,071,584",2012,2/23,4/19
86,85,Isle Of Dogs,FoxS,"$32,015,231",1947,"$1,620,294",27,3/23,8/30
87,86,Nobody's Fool,Par.,"$31,713,110",2468,"$13,743,111",2468,11/2,12/20
88,87,Adrift,STX,"$31,445,012",3015,"$11,603,039",3015,6/1,8/2
89,88,Robin Hood (2018),LG/S,"$30,824,628",2827,"$9,195,670",2827,11/21,1/10
90,89,Super Troopers 2,Fox,"$30,617,396",2125,"$15,181,624",2038,4/20,7/12
91,90,Holmes and Watson,Sony,"$30,573,626",2780,"$7,411,522",2776,12/25,2/21
92,91,Slender Man,SGem,"$30,569,484",2358,"$11,371,866",2358,8/10,11/1
93,92,Teen Titans Go! To The Movies,WB,"$29,790,236",3188,"$10,411,189",3188,7/27,10/11
94,93,The Hate U Give,Fox,"$29,719,483",2375,"$512,035",36,10/5,1/17
95,94,Searching,SGem,"$26,020,957",2009,"$388,769",9,8/24,11/15
96,95,Winchester,LGF,"$25,091,816",2480,"$9,307,626",2480,2/2,3/29
97,96,On the Basis of Sex,Focus,"$24,622,687",1957,"$686,355",33,12/25,3/7
98,97,Strangers: Prey at Night,Aviron,"$24,586,708",2464,"$10,402,271",2464,3/9,5/31
99,98,White Boy Rick,Studio 8,"$24,011,188",2504,"$8,860,431",2504,9/14,11/8
100,99,Won't You Be My Neighbor?,Focus,"$22,835,787",893,"$475,419",29,6/8,9/13
101,100,Overlord,Par.,"$21,704,844",2859,"$10,202,108",2859,11/9,12/20
102,Summary of 876 Movies on Chart:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,Totals:,"$11,607,307,111",-,-,-,-,-,NaN,NaN
104,Averages:,"$13,250,351",-,-,-,-,-,NaN,NaN
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,Filter4th Row A24 AAE Abr. ADC Affirm Amazon A...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN